button {
    background-color: darkblue;
    border: none;
    color: white;
    padding: 40px 25%;
    text-align: center;
    text-decoration: none;
    margin: 3%;
    border-radius: 12px;
    cursor: pointer;
    font-size: 40px;
}

    button:hover {
        background-color: lightblue;
    }
