body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.reminder {
   width: 100%;
    position: absolute;
    top: 10%;
    text-align: center;
}

    .form a {
        font-size: 40px;
        font-weight: 500;
    }

.logInText {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-align: center;
}

input[type=text], input[type=password] {
    width: 80%;
    font-size: 30px;
    background-color: white;
    border: solid;
    border-radius: 20px;
    border-color: darkgrey;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 15px;
    box-sizing: border-box;
    margin: 3%;
}


a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
